--extra-index-url https://download.pytorch.org/whl/cpu
fastapi==0.110.0
uvicorn==0.27.1
httpx==0.27.0
pydantic==2.9.2
bcrypt==4.3.0
langchain-huggingface==0.1.2
langchain-community==0.3.27
langchain-text-splitters==0.3.9
chromadb==0.4.24
pypdf==6.16.1
docx2txt==0.8
sentence-transformers==2.6.0
python-multipart
sqlalchemy==2.0.30
psycopg==3.1.19
psycopg-binary==3.1.19
psycopg2-binary==2.9.9
redis==5.0.8
openai
python-dotenv
numpy<2.0
